.App {
  width: 100vw;
  height: 100vh;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.Navbar {
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 23px;
  margin-top: 1rem;
}

.centerSide {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.rightSide {
  width: 100% !important;
  display: flex;
  align-items: center;
}

.leftSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

input[type='text'] {
  border-bottom: 0;
  padding: 0.5rem;
  width: 500px;
  height: 22px;
  border-bottom: 1px solid #7a7a7a;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  outline: none;
}

::placeholder {
  color: #7a7a7a;
  margin-bottom: 1rem;
  position: relative;
  bottom: 3px;
}

i.fas.fa-search {
  position: relative;
  right: 18px;
  bottom: 3px;
}

/* Section banner */

.SectionPrincipal {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.box-right {
  position: relative;
  right: 68px;
  z-index: -99;
}

.box-left h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
}

.box-left h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 45px;
}

.content-box-01 {
  width: 100%;
}

/* Section Products */

.ProductsCorebiz {
  height: 407px;
  margin: 25px 211px 69px;
}

.ContentLine h3 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 3px;
}

.ContentLine {
  width: 63px;
  height: 4.3px;
  background-color: #c0c0c0;
}

/* Section Newsletter */

#NewsletterCorebiz {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 148px;
  font-family: Lato;
}

#NewsletterCorebiz h2 {
  margin-left: 93px;
  margin-bottom: 1 rem;
}

.Itens {
  display: flex;
  justify-content: space-around;
}

#NewsletterCorebiz input {
  width: 280px;
  height: 48px;
  border: none;
  border-radius: 5px;
  margin-left: 8px;
}

#NewsletterCorebiz input::placeholder {
  font-size: 12px;
  font-weight: bold;
  padding-left: 15px;
}

.btnNews {
  height: 48px;
  width: 140px;
  background: #000000;
  margin-left: 8px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.btnNews:focus {
  outline: none;
}

/* Footer */

footer {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  color: #fff;
  width: 33%;
}

.address h3 {
  color: #fff;
  width: 33%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.address h3::after {
  display: block;
  height: 5px;
  width: 45px;
  background-color: #fff;
  content: '';
  margin-top: 16px;
}

.address a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

p .address {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

footer .address p:last-child {
  margin-bottom: 25px;
}

footer .contact {
  width: 33%;
}

footer .contact ul li {
  background-color: #fff;
  margin-bottom: 25px;
  border-radius: 5px;
  max-width: 200px;
  max-height: 40px;
}

footer .contact ul li:last-child {
  margin-bottom: 0;
  text-align: center;
}

footer .contact ul li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .contact ul li p {
  margin: 5px;
  font-weight: bold;
}

footer .contact ul li img {
  margin: 10px 18px;
}

footer .madeby {
  color: #fff;
  display: flex;
}

footer .madeby div p {
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

footer .madeby div p {
  margin-bottom: 1.79px;
}

footer .madeby div img {
  padding-right: 25px;
}

.fa-headphones:before {
  margin-left: 30px;
}
